$background-color: #f5f5f5;
$text-color: #4b3621;
$font-style: "Roboto Mono", monospace;

.container-form{
    font-family: $font-style;
    
    form{
        margin: 15px;
    }
}

.direccion-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;

    p{
        margin: 2px;
        font-family: $font-style;
    }
}

.ventas-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;

    p{
        margin: 2px;
        font-family: $font-style;
    }

    a{
        text-decoration: none;
        color: $text-color;
        font-weight: bold;
    }
}
