$font-style: "Roboto Mono", monospace;
$text-color: #4b3621;

.wrapper {
    min-height: 100vh;
    display: flex; /*Solo para el html del menu, para que se pueda ver bien*/
    flex-direction: column;
}

.footer {
    display: flex;
    font-family: $font-style;
    background-color: #f2e1c1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;

    ul{
        list-style-type: none;
        padding: 0px;
    }
    a {
        color: $text-color;
        text-decoration: none;
    }

    p{
        color: $text-color;
       font-style: italic;
    }
    .footer-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px;

    img {
        width: 30px;
        height: 20px;
    }
}

@media (max-width: 768px) {
    .footer-item {
        flex-direction: column;
        text-align: center;
        gap: 8px;


    }

    .footer p{
        text-align: center;
        font-size: 10px;
    }
}